body{
    background-image: url(../img/bg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.tr-color-selected{
    background-color: hsla(196, 77%, 55%, 0.3) !important;
    transition: all .2s ease-in;
    }

    .modal-backdrop {
        /* bug fix - no overlay */    
        display: none;    
    }

#tableImg{
    max-width: 200px;
    max-height: 200px
}

#loginButton{
    margin: 200px auto;
}