/* .form-field {
   
    margin: 20px ;
    
}




.input {
    width: 100%;
    padding: 12px 20px;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    
}



.form-field--file {
    border: 2px dashed #ddd;
    height: 60px;
    position: relative;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-field--file input {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    opacity: 0;
    cursor: pointer;
}

.form-field--file img {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

.input.is-error {
    border-color: crimson;
}

.form-field--errorText {
    color: crimson;
    margin-top: 10px;
    font-size: 12px;
}

/* .textarea {
    width: 90%;
    min-height: 80px;
    resize: none;
    padding-top: 10px;
    padding-bottom: 10px;
} */

/* .form-field button {
    position: relative;
    margin: auto;
    border-radius: 4px;
    width: 100%;
    cursor: pointer;
    background-color: #12B797;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
}  */


.form-field{
 

}

.input {

    width: 100%;
    height: 100%;
    padding: 0px 10px;
    border-radius: 4px;
    outline: none;
    border: 1px solid #ddd;



}

.textarea {
    width: 100%;
    min-height: 200px;
    resize: none;
    padding-top: 10px;
    padding-bottom: 10px;

}

.form-field--file {

    border: 2px dashed #ddd;
    height: 60px;
    position: relative;
    border-radius: 4px;
    display: flex;
    justify-content: center; 
    align-items: center;
}


.form-field--file  input{

        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 2;
        opacity: 0;
        cursor: pointer;
}


.form-field--file img {

    width: 30px;
    height: 30px;
    margin-left: 10px;

}
.input.is-error {
    border-color: crimson;
}

.form-field--errorText{
    color: crimson;
    margin-top: 10px;
    font-size: 12px;
}